<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/css/styles.css">

        <title>Tortoise Weather</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg text-white navbarstyle">
                <div class="container-fluid">
                    <span class="navbartext">Tortoise Weather</span>
                </div>
            </nav>
            <div class="row g-3 d-flex justify-content-center">
                <div class="col-sm-12 col-lg-8 col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="input-group">

                                <input type="text" class="form-control" placeholder="City or Address" id="formInput">
        
                                
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <button class="btn btn-primary" type="button" id="submitBtn">Search</button>
                                    <button class="btn btn-primary" type="button" id="useMyLoc">Use My Location</button>
                                    <button class="btn btn-danger" type="button" id="clearBtn">Clear</button>
                                </div>
            
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="spinner">
                <div class="d-flex align-items-center ">
                <strong>Loading data. Please wait...</strong>
                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                </div>
            </div>

            <div class="row" id="alertrow" style="display: none;">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title d-flex justify-content-between align-items-center">
                              Alert
                               <button type="button" class="btn btn-danger" aria-label="Close" id="alertCloseButton">Dismiss</button>
                              </h5>
                        <div id="alertbody">
                          <h6 class="card-subtitle mb-2 text-muted"><span id="event">Flood Watch</span>, <span  id="startTime">3:45 PM</span> to <span  id="endTime">4:15 PM</span> </h6>
                          <p class="card-text" id="alerttext">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row g-3 mt-4" id="currentWeatherRow" style="visibility:hidden">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card current shadow">
                        <div class="card-body">
                            <h5 class="card-title"><span class="bold">Current Conditions</span></h5>
                            <table class="table">
                                <tbody id="currentData">
                                    <tr>
                                        <th scope="row" class="bold">Location</th>
                                        <td id="current-location"></td>
                                    </tr>                                
                                    <tr>
                                        <th scope="row" class="bold">Latitude</th>
                                        <td id="lat"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="bold">Longitude</th>
                                        <td id="long"></td>
                                    </tr>

                                    <tr>
                                        <th scope="row" class="bold">Weather</th>
                                        <td>
                                            <p id = "desc"></p>
                                                        {{!-- <div style="background-color:lightpink;">                                     --}}
                                                        <div class="imgbgd">
                                                            <img id="image" src="#" alt="weather icon">
                                                        </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="bold">Temperature</th>
                                        <td id="temp"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="bold">Pressure</th>
                                        <td id="pressure"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="bold">Humidity</th>
                                        <td id="humidity"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="bold"><a href="https://www.airnow.gov/aqi/aqi-basics/" target="_blank" rel="noopener noreferrer">Air Quality</a></th>
                                        <td id="aqi"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="bold">Wind</th>
                                        <td id="wind"></td>
                                    </tr>
                                     
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row g-3" id="hourlyWeatherRow" >
                        <div class="card current shadow">
                            <div class="card-body">
                                <h5 class="card-title d-flex justify-content-between align-items-center">
                                    <span class="bold">Hourly Forecast</span>
                                    <button type="button" class="btn btn-primary" aria-label="Close" id="hourly-forecast-button">Expand</button>
                                </h5>
                                <div class="container-fluid" id="hourly-forecast-container" style="display: none;">
                                    <div class="row gx-3" id ="hourlyTable" >
                                         {{!-- Filled by JS --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                </div>
                <div class="row g-3" id="dailyWeatherRow" >
                        <div class="card current shadow">
                            <div class="card-body" >
                                <h5 class="card-title d-flex justify-content-between align-items-center">
                                    <span class="bold">Daily Forecast</span>
                                    <button type="button" class="btn btn-primary" aria-label="Close" id="daily-forecast-button">Expand</button>
                                </h5>
                                <div class="container-fluid" id="daily-forecast-container" style="display: none;">
                                    <div class="row gx-3" id ="dailyTable" >
                                         {{!-- Filled by JS --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
        <script src="/js/helpers.js"></script>
        <script src="/js/weatherapp.js"></script>
    </body>
</html>
