body {
    color: #333333;
    font-family: arial;
    background:  #ffce54;
}

.bold {
    font-weight: bold;
    color: blue;
}

.navbarstyle {
    background: #22577E;
}

.white-text {
    color:white
}

.current {
    background: #a0d568;
}

.hourly {
    background: #4fc1e8;
}


.daily {
    background: #4fc1e8;
}

.list-group-item {
    background: #4fc1e8;
}

table {
    border-bottom: hidden;
}