body {
    color: #333333;
    font-family: arial;
    background:  #fdf6c6;
}

.bold {
    font-weight: bold;
    color: #543d34;
}

.navbarstyle {
    background: #22577e;
}

.navbartext {
    font-size: 2em;
}

.white-text {
    color:white
}

.current {
    background: #a0d568;
}

.hourly {
    background: #d0a85f;
}


.daily {
    background: #d0a85f;
}

.list-group-item {
    background: #d0a85f;
}

table {
    border-bottom: hidden;
}

img {
    opacity: 1.0;
}

.imgbgd{
    /* background-color: lightpink; */
    background-color:#e5e7e9
}

.aqiGood {
    background: #00e400;
    color: black;
}

.aqiMod {
    background: #ffff00;
    color:black;
}

.aqiUnh1 {
    background: #ff7e00;
    color:white;
}

.aqiUnh2 {
    background: #ff0000;
    color:white;
}

.aqiUnh3 {
    background: #8f3f97;
    color:white;
}

.aquiHaz {
    background: #7e0023;
    color: white
}

.aqi-para {
    border-radius: 10px;
}

.alertcard {
    background: lightpink;
}